{{ form_start(articleForm) }}

{% if articleForm.vars.data.imageFilename %}
    <img src="{{  articleForm.vars.data.imageFilename | imagine_filter('articles_preview')}}">
{% endif %}
                            {{ form_row(articleForm.image,{
                                label: 'Изображение статьи',
                                atrr: {
                                    placeholder: 'Выберите изображение'
                                }
                            },
                            )}}
                            {{ form_row(articleForm.title) }}
                            {{ form_row(articleForm.description) }}
                            {{ form_row(articleForm.body) }}
                            {{ form_row(articleForm.publishedAt) }}
                            {{ form_row(articleForm.keywords) }}
                            {{ form_row(articleForm.author) }}
<button type="submit" class="btn btn-primary">{{ button_text}}</button>
{{ form_end(articleForm) }}