{% extends 'base_content.html.twig' %}
{% block header %}
    {{ parent() }}
    <title>{% block title %} Управление тегами{% endblock %}</title>
{% endblock %}
         {% block content %}
    <h1>Управление тегами({{ pagination.totalItemCount }})</h1>

    <form>
        <div class="input-group mb-3">
            <input type="text"
                   name="q"
                   class="form-control"
                   placeholder="Найти..."
                   value="{{ app.request.query.get('q') }}"
            >
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="form-check">
                <input type="checkbox"
                       name="showDeleted"
                       class="form-check-input"
                        {% if app.request.query.has('showDeleted')%} checked {% endif %}
                >
                <label class="form-check-label"> Показать удаленные</label>
            </div>
        </div>
    </form>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Тег</th>
            <th>Символьный код</th>
            <th>Количество статей, к которым привязан тег</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        {% for tag in pagination %}
            <tr>
                <td>
                    <a>
                        {{ tag.name }}
                    </a>
                </td>
                <td style="width: 20%;">{{ tag.slug }} </td>
                <td>
                        <span>{{ tag.articleCount }}</span>
                </td>
                <td> {% if tag.deletedAt %} DELETED
                {% else %}
                        ACTIVE
                    {% endif %}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">
                    Нет подходящих тегов
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(pagination) }}
         {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
    {% endblock %}

